.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
.DS_Store
data/*
data_comp/*
!data/.gitkeep
!data_comp/.gitkeep
.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
.DS_Store
data/*
data_comp/*
!data/.gitkeep
!data_comp/.gitkeep
